/* Your CSS styles go here */
table,td,th{
	font-size: 12px;
	border: 1px solid #dddddd;
}
body{ 
	color: black;
	background-color:#eee;
	padding: 100px;
}
.bodypart{
	border:2px;
	color: black;
	margin-left:300px;
	padding-left: 50px;
	width: 700px;
	background: white;
}
h3,h2{
	text-align: center;
}